header {
    background-color: #da8660;
    padding: 30px 0;
    position: relative;
}
#profile-icon .fa-solid {
  font-size: 60px;
  line-height: 1; 
}
.header-title {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color:  rgb(77, 58, 55);
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

#profile-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-solid {
    color: rgb(77, 58, 55);
}

.account-name{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: rgb(99, 56, 56);
    font-size: 30px;
    margin: 0;
}