/* 共通設定 */

.main-sections {
  display: flex;
  gap: 48px;
}

.left-section,
.right-section {
  flex: 1 1 0%;
  min-width: 0;
  padding-top: 40px;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 40px;
}

.section-header h1 {
  margin: 0;
  font-size: 50px;
  line-height: 1.1;
}


/* ボタン設定 */

.icon-btn {
  width: 40px;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.fa-solid {
  font-size: 24px;
}